:root {
  --border: #000;
  --fs-10: 10pt;
  --fs-9: 9pt;
  --fs-8: 8.5pt;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background: #fafafa;
}

/* ======= PAGE SIZE: 8.5 x 13 inches ======= */
.page {
  width: 8.5in;
  min-height: 13in;
  margin: 0.3in auto;
  /* screen margin */
  background: #fff;
  border: 1px solid var(--border);
  padding: 0.35in;
  /* inner padding */
}

.hdr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 8pt;
  margin-bottom: 4mm;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  letter-spacing: 0.3px;
  margin: 2mm 0 4mm;
  text-transform: uppercase;
}

i{
    font-size: 8pt;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: var(--fs-9);
}

th,
td {
  border: 1px solid var(--border);
  padding: 2.5mm 2mm;
  vertical-align: top;
}

th {
  /* font-weight: 700; */
  text-align: left;
}

.nobr {
  white-space: nowrap;
}

.no-border th{
    font-size: 9pt;
}

.no-border tr td {
  text-align: center;
}

.rowName {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.muted {
  font-size: 5pt;
}

.checks label, input{
    font-size: 6.5pt;
}

.center {
  text-align: center;
}

.right {
  text-align: center;
}

.no-border {
  border: none !important;
}

.pad-0 {
  padding: 0 !important;
}

.pad-s {
  padding: 1.5mm 2mm !important;
}

input[type="checkbox"]{
    margin-right: 2px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 65%;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000;
  font: inherit;
  padding: 0 0 0.5mm 0;
  background: transparent;
  outline: none;
}

.line {
  display: inline-block;
  border-bottom: 1px solid #000;
  min-width: 25mm;
  height: 4mm;
  vertical-align: bottom;
}

.row {
  display: flex;
  gap: 2mm;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: 0 !important;
}

.cell {
  flex: 1;
}

.cell-2 {
  flex: 2;
}

.cell-3 {
  flex: 3;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.checks {
  columns: 1;
}
.checks label {
  display: flex;
  line-height: 1.25;
  break-inside: avoid;
  align-items: center;
  /* margin: 0 0 1.5mm 0; */
}


.checks small {
  display: block;
  margin-left: 21px;
  font-size: var(--fs-8);
}

.credits {
  width: auto;
}

.credits td,
.credits th {
  padding: 1mm 1.5mm;
  text-align: center;
}

.td-recommendation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signline {
  border-top: 1px solid #000;
  height: 0;
}

/* ======= PRINT SETTINGS ======= */

@media print {
  @page {
    size: 8.5in 13in;
    /* long bond */
    margin: 0;
    /* printer page margin */
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  /* exact paper size */

  /* body {
                background: #fff;
                transform: scale(0.80);
                transform-origin: top center;
            } */

  body,
  .page {
    transform: none !important;
  }

  .page {
    width: 8.5in;
    height: 13in; /* eksaktong taas ng papel */
    padding: 0.25in;        
    margin: 0 auto;
    border: 0; /* huwag mag-border sa print para di madagdag sa sukat */
    box-sizing: border-box; /* kasama ang padding sa height/width */
    page-break-before: avoid;
    page-break-after: avoid;
    /* transform: scale(0.85);
    transform-origin: top center; */
  }

  a[href]:after {
    content: "";
  }
}
